<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>%VITE_APP_TITLE%</title>

  <link rel="stylesheet" href="/css/splash-screen.css" />

  <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <% if(isDev){ %>
    <link href="/src/assets/scss/light.scss" rel="stylesheet" class="js-stylesheet">
    <% } else { %>
      <!-- PICK ONE OF THE STYLES BELOW (light or dark) -->
      <link href="/assets/light.css" rel="stylesheet" class="js-stylesheet">
      <!-- <link href="/assets/dark.css" rel="stylesheet" class="js-stylesheet"> -->
      <% } %>
</head>

<body>
  <script>try{var t=JSON.parse(localStorage.getItem("theme"));if(t){document.body.dataset.theme=t;if(t==="dark"){var s=document.querySelector(".js-stylesheet");if(s){var h=s.getAttribute("href");s.setAttribute("href",h.replace("light","dark"));}}}}catch(e){}</script>
  <div id="root"></div>
  <script type="module" src="/src/index.tsx"></script>
</body>

</html>